.page-header {
  display: flex;
  align content: flex-start;
  text-align: justify;}

.opener-flex {
  display: flex;
  text-align: justify;
  justify-content: flex-start;
  align-content: flex-end;

}

.opener {
  width: 30%;
  max-width: 440px;
  margin-right: 50px;
}

.img {
  width: 55%;
  max-width: 550px;
}

.body-flex {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  justify-content: flex-start;
  
}

.ingr-flex {
  width: 30%;
  max-width: 440px;
  margin-right: 50px;
}

.prep-flex {
  width: 55%;
  max-width: 550px
}

body{font-family:"Open Sans";}

h1 {font-weight: bold;
  text-transform: uppercase;
text-decoration: underline;}
h2 {text-decoration: underline;
  font-style: italic;}
h4 {text-transform: uppercase;
font-size: 14px;}
p {font-size: 14px;
line-height: 22px;}
ol {font-size: 14px;
line-height: 22px;
list-style-type: decimal;}
ul {font-size: 14px;
list-style-type: circle;
line-height: 22px;}
img {height: 400px;}
