* {
  box-sizing: border-box;
}

.container{
max-width: 900px;
margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.opener-flex {
  display: flex;
  text-align: justify;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.opener {
  width: 40%;
  margin-right: 30px;
}

.img {
  max-width: 60%;
}

.body-flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /*flex-wrap: wrap;*/
}

.ingr-flex {
  width: 40%;
  margin-right: 30px;
}

.prep-flex {
  width: 60%;
  text-align: justify;
}

body{font-family:"Open Sans";}

h1 {font-weight: bold;
  text-transform: uppercase;
  font-size: 29px;
  text-decoration: underline;}
h2 {text-decoration: underline;
  font-style: italic;
  font-size: 20px;}
h4 {text-transform: uppercase;
font-size: 14px;}
p {font-size: 14px;
line-height: 22px;}
ol {font-size: 14px;
line-height: 22px;
list-style-type: decimal;}
ul {font-size: 14px;
list-style-type: circle;
line-height: 22px;}
img {max-width: 500px;}
