* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.subheader {
  display: flex;
  justify-content: center;
}

.actual-header {
  display: flex;
  justify-content: center;
}

.huge-sample {
  display: flex;
  justify-content: center;
  text-align: center;
}

.font-descriptor{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.specimen-header{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.Specimen{
  display: flex;
  max-width: 100%
  justify-content: center;
}

.charset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}

.charset-header{
  display: flex;
  justify-content: center;
  color: white;
}

.charset-regular{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.weight-oblique{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-style: italic;
}

.weight-bold{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: bold;
}

.weight-bold-oblique{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

h4{ font-size: 1rem;
  color: white;
}

h5{font-size: .80rem
  color: white;
}

body {
  font-family: "Courier";
  background-color: rgb(1, 41, 15);
  color: rgb(250, 203, 209);
  font-size: 1.2rem;
}
img{
  margin-top: 30px;
  max-width: 900px;
}
ul {
  list-style-type: none;
}
