*{
box-sizing: border-box;
}

body{
  font-family: "Vollkorn", serif;
}
strong{
  font-size: 1.4rem;
}

p{font-size: 1.06rem;
  line-height: 1.5rem;
}

figure{
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

a{
  color: rgb(246, 168, 159);
}

.running-header {
display: flex;
justify-content: center;
}

.logo-img {
max-width: 130px;
margin-top: 15px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-img {
  width: 100vw;
}

.article-content{
  display: flex;
  justify-content: center;
  max-width: 95%;
  margin-top: 2%;
  margin: 1%;
}

.content{
  max-width: 650px;

}
/*.body-paragraph{
  display: flex;
  justify-content: center;
}*/

.img{
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width 600px) {



 }

}
